* {
    box-sizing: border-box;
}
crystal
h1 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

p {
    font-size: 18px;
}

img {
    size: 150px 150px;
    margin-right:4px;
    margin-left: 10px;
}
#crystals{
    position: center;
}
.row {
    font-size: 28px;

}

body {
    margin: 0 auto;
    font-family: 'Times New Roman', Times, serif;
    background-color: lightgoldenrodyellow;
}

#game {
    font-size: 200 px;

}

hr {
    border: solid 1px;
}

.jumbotron {
    background-color: lightsalmon;
}

#target,
#wins,
#losses,
#yourScore {
    color: purple;
}